Hello yea...
Update customer Customer
<form method="post" action="{{ path('pello_customer_crud_homepage_saveupdate') }}">
    {{ form_widget(form) }}
    <div><input type="submit" name="submit" value="Update new" /></div>
    
</form>
<div><a href="{{ path('pello_customer_crud_homepage_new') }}">New</a> </div>